.headerContainer {
    background-image: url(/header.webp);
    background-size: cover;
    background-position: center;
    min-height: 170px;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: white; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.logo {
    width: auto;
    height: 110px;
    margin-right: 25px;
}

.textGroup {
    text-align: left;
}

.textGroup h1 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
    line-height: 1.1;
}

.textGroup p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0;
    color: #04c41e;
}